@import "button";
@import "href";
@import "text";
@import "image";

.inputForSmthing{
  @include white-field-text;
  box-sizing: border-box;
  width: 100%;
  
}
.inputInRow{
  @include white-field-text;
  width: 90%;
  box-sizing: border-box;
  
}
.inputInRow:focus,.inputForSmthing:focus{
  border-left-color: rgb(162, 0, 255);
  border-width: 4px;
}
.ButforAction{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  border-radius: 5px;
  border-color: rgb(162, 0, 255);
  background-color: rgb(162, 0, 255);
  color: white;
  @include pointer;
  
}
.ButforAction:hover{
  font-weight:bold;
  background-color:white;
  color:rgb(162, 0, 255);
}
.ButforAction:active{
  border-color: rgb(162, 0, 255);
  background-color: rgb(162, 0, 255);
  color: white;
}
a:hover{
  font-weight:bold;
}
.navBut{
  @include link-but;
}
.navBut:hover{
  background-color: black;
  color: white;
  border-width: 0px;
}
.logo{
  height:59px; 
  width:150px;
}
.select-list{
  @include select-list;
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid rgb(17, 153, 69);
    border-bottom: 4px solid rgb(17, 153, 69);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(17, 153, 69);
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}