{%extends 'components/base.html'%}
{%block content%}
<header>
  <img class="logo" src="/images/logo.svg"/>
</header>
<div class="content">
  <ul>
    <li><a href="signIn">Sign in</a></li>
    <li><a href="password-recovery">Password Recovery</a></li>
    <li><a href="reset-message">Pasword Recovery 2</a></li>
    <li><a href="reset-password">Password Recovery 3</a></li>
    <li><a href="signUp">Sign up 1</a></li>
    <li><a href="complete">Sign up 2</a></li>
    <li><a href="activate-message">Sign up 3</a></li>
    <li><a href="profile">Profile 1</a></li>
    <li><a href="profile-info">Profile 2</a></li>
    <li><a href="search">Search(not all is need ready yet)</a></li>
    <li>Serach-map(will be able in <a href="https://www.youtube.com/watch?v=8S9JAudqe_w">pro max SEA sports 3000 version ;)</a> (in a few days)</li>
    
    <li>Admin Zone (will be able in pro max 3001 version ;) (in a few days)</li>
  </ul>
</div>
{%endblock%}