{% extends 'components/base.html' %}
{% block content %}
<header>
  <img class="logo" src="./images/logo.svg">
  <nav>Already have an acoount?
    <a href="index.html" class="navBut">Log in</a>
  </nav>
</header>
<div class="content">
  <section class="wrapper">
    <form>
      <span>Sign up</span>
      <section class="name-lastName">
        <div class="nav-input1">
          <input type="text" placeholder="Name" class="inputInRow">
        </div>
        <div class="nav-input2">
          <input type="text" placeholder="Last Name" class="inputInRow">
        </div>
      </section>
      <section class="login-password">      
        <input type="text" placeholder="Login" class="inputForSmthing">
        <input type="password" placeholder="Password" class="inputForSmthing">
      </section>
      <input type="button" value="Sign up" class="ButforAction">
      <nav class="smallScreen">Already have an acoount?
        <a href="index.html" class="navBut">Log in</a>
      </nav>
    </form>
  </section>
</div>
{%endblock%}